@font-face {
  font-family: 'Bebas Neue - Book';
  src:  url('../fonts/bebasneue-book-webfont.woff2') format('woff2'),
        url('../fonts/bebasneue-book-webfont.woff') format('woff');
}

/* CUSTOM PROPERTIES */
:root {
  --clr-background: #2B2A30;
  --clr-red: #9d0000;
  --clr-green: #00aa51;

  --ff-start-stop: 'Montserrat', sans-serif;
  --ff-timer-counter: 'Bebas Neue - Book', Courier, monospace;  
}


/* DEFAULT STYLING */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  line-height: 1.5;
  background-color: var(--clr-background);
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove arrows & spinners from input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* TIMER */

.timer {
  width: 100%;
  max-width: 30rem;
  text-align: center;
  padding: 3.5rem;
  border-radius: 10000000rem;
  background-color: #17171a;
  color: #fff;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.timer-text {
  font-size: 12rem;
  font-family: var(--ff-timer-counter);
}

.start,
.stop {
  font-family: var(--ff-start-stop);
  text-transform: uppercase;
  letter-spacing: .5rem;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.gear,
.check {
  margin-top: 2rem;
  margin-inline: auto;
}

/* INPUT */
.timer-input {
  display: flex;
  justify-content: center;
  font-size: 12.25rem;
  font-family: var(--ff-timer-counter);
  color: #fff;
}

input {
  width: 10rem;
  height: 10rem;
  padding: 0;
  margin: 0;
  margin-top: 4.37rem;
  outline: 0;
  background-color: transparent;
  color: #fff;
  border: none;
  border-bottom: 3px dotted #dedede;
}

#minutes-input {
  text-align: right;
}

/* UTILITY CLASSES */
.hidden {
  display: none;
}

.hidden-opacity {
  opacity: 0;
}